.config_*

app

enclave.so
enclave.signed.so

App/App.o
App/ocalls.o
App/Enclave_u.*

Enclave/Enclave.o
Enclave/sqlite3.o
Enclave/sqlite3.i
Enclave/ocall_interface.o
Enclave/ocall_interface.i
Enclave/Enclave_t.*

test.db
test.db-journal

.idea/
.vs/
.vscode/

client/src/client/__pycache__/

client/src/client/lib/__pycache__/

smart_contract/*.bin
smart_contract/*.abi
simulations/__pycache__/

client/src/__pycache__/
client/src/logzio-failures*

simulations/noise_simulations/liquidity_histogram.json

simulations/noise_simulations/__pycache__/

simulations/noise_simulations/data/

simulations/draw_figures.py
